{
  "swagger": "2.0",
  "info": {
    "version": "v1.0",
    "title": "FCA Service Metrics - PCA",
    "description": "Swagger specification for FCA Service Metrics for Personal Current Accounts"
  },
  "host": "developer.openbanking.org.uk",
  "basePath": "/open-banking/v1.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/prs.openbanking.opendata.v1.0+json"
  ],
  "tags": [
    {
      "name": "FCSSRVMPCA",
      "description": "Endpoint for getting FCA Personal Current Accounts Service Metrics data"
    }
  ],
  "paths": {
    "/fca-service-metrics/pca": {
      "get": {
        "tags": [
          "FCSSRVMPCA"
        ],
        "description": "Gets a list of all `FCA Service Metrics` objects.",
        "parameters": [
          {
            "name": "If-Modified-Since",
            "type": "string",
            "description": "Used for conditional request, to retrieve data only if modified since a given date",
            "in": "header",
            "required": false
          },
          {
            "name": "If-None-Match",
            "type": "string",
            "description": "Used for conditional request, to retrieve data only if the given Etag value does not match",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of `FCA Service Metrics` data",
            "headers": {
              "Strict-Transport-Security": {
                "type": "string",
                "description": "HTTPS strict transport security header",
                "default": "max-age=31536000"
              },
              "Etag": {
                "type": "string",
                "description": "A unique ID identifying whether this resource has changed"
              },
              "Cache-Control": {
                "type": "string",
                "description": "Describes how long this response can be cached",
                "default": "max-age=28800"
              },
              "X-Frame-Options": {
                "type": "string",
                "description": "Prevent this request from being loaded in any iframes",
                "default": "DENY"
              },
              "X-Content-Type-Options": {
                "type": "string",
                "description": "Ensures each page has a content type and prevents browsers from doing MIME type sniffing",
                "default": "nosniff"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "title": "Meta data",
                  "type": "object",
                  "properties": {
                    "LastUpdated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "TotalResults": {
                      "type": "integer"
                    },
                    "Agreement": {
                      "type": "string",
                      "enum": [
                        "Use of the APIs and any related data will be subject to the terms of the Open Licence and subject to terms and conditions"
                      ]
                    },
                    "License": {
                      "description": "Open Banking License",
                      "type": "string",
                      "format": "uri",
                      "enum": [
                        "https://www.openbanking.org.uk/open-licence"
                      ]
                    },
                    "TermsOfUse": {
                      "description": "Open Banking Terms of Use",
                      "type": "string",
                      "format": "uri",
                      "enum": [
                        "https://www.openbanking.org.uk/terms"
                      ]
                    }
                  },
                  "required": [
                    "LastUpdated",
                    "TotalResults",
                    "Agreement",
                    "License",
                    "TermsOfUse"
                  ],
                  "additionalProperties": false
                },
                "data": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "Brand": {
                        "description": "Brand owned by an organisation",
                        "type": "array",
                        "title": "Brand",
                        "items": {
                          "description": "Brand owned by an organisation",
                          "type": "object",
                          "properties": {
                            "BrandName": {
                              "description": "Brand Name that an organisation uses to market its products or services to a consumer",
                              "title": "BrandName",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 140
                            },
                            "PublicationDate": {
                              "description": "Date when this metrics was made available.",
                              "title": "PublicationDate",
                              "type": "string",
                              "format": "date"
                            },
                            "MeasurementPeriodStartDate": {
                              "description": "The start date of the current account measurement period",
                              "title": "MeasurementPeriodStartDate",
                              "type": "string",
                              "format": "date"
                            },
                            "MeasurementPeriodEndDate": {
                              "description": "The end date of the current account measurement period",
                              "title": "MeasurementPeriodEndDate",
                              "type": "string",
                              "format": "date"
                            },
                            "Notes": {
                              "description": "Specify any note that helps Banks to describe the Service Metrics Data related to a particular Brand. One example to describe, why the Service Metrics data is not available.",
                              "title": "Notes",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 2000
                            },
                            "ServicesMatterAvailability": {
                              "description": "This section hold info related to Matters(Services) which can be discussed by Banks customer.",
                              "type": "object",
                              "title": "ServicesMatterAvailability",
                              "properties": {
                                "ServicesMatterAvailabilityDetails": {
                                  "description": "Hold info related to Services which can be discussed by an account holder",
                                  "type": "array",
                                  "title": "ServicesMatterAvailabilityDetails",
                                  "items": {
                                    "description": "Hold info related to Services which can be discussed by an account holder",
                                    "type": "object",
                                    "properties": {
                                      "MatterType": {
                                        "title": "MatterType",
                                        "type": "string",
                                        "enum": [
                                          "HelpOpeningAccount",
                                          "CheckBalanceTransaction",
                                          "CancellingCheque",
                                          "CashWithdrawalForexOutsideUK",
                                          "CollectPaymentViaCard",
                                          "SendingMoneyOutsideUK",
                                          "ReportFraudulentIncident",
                                          "DenialLackOfFunds",
                                          "Other",
                                          "PayingInCheque",
                                          "ProgressAccountCardSuspension",
                                          "ProblemUsingMobileInternetBanking",
                                          "SendingMoneyWithinUK",
                                          "AccessViaPowerOfAttorney"
                                        ]
                                      },
                                      "24HourHelp": {
                                        "description": "Indicates whether this contact type  is available 24 hours.",
                                        "title": "24HourHelp",
                                        "type": "string",
                                        "enum": [
                                          "InSomeCases",
                                          "NotPossible",
                                          "No",
                                          "Yes"
                                        ]
                                      },
                                      "OtherMatterType": {
                                        "description": "Other code set which is not available in the standard MatterAvailabilityCode set",
                                        "type": "array",
                                        "title": "OtherMatterType",
                                        "items": {
                                          "description": "Other code set which is not available in the standard MatterAvailabilityCode set",
                                          "type": "object",
                                          "properties": {
                                            "Code": {
                                              "description": "The four letter Mnemonic used within an XML file to identify a code",
                                              "title": "Code",
                                              "type": "string",
                                              "pattern": "^\\w{0,4}$",
                                              "minLength": 0,
                                              "maxLength": 4
                                            },
                                            "Name": {
                                              "description": "Long name associated with the code",
                                              "title": "Name",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 70
                                            },
                                            "Description": {
                                              "description": "Description to describe the purpose of the code",
                                              "title": "Description",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 350
                                            }
                                          },
                                          "required": [
                                            "Name",
                                            "Description"
                                          ]
                                        },
                                        "additionalProperties": false
                                      },
                                      "ContactDetails": {
                                        "description": "Describes the communication channel detail which can be used by an account holder to either discuss a matter or do action",
                                        "type": "array",
                                        "title": "ContactDetails",
                                        "items": {
                                          "description": "Describes the communication channel detail which can be used by an account holder to either discuss a matter or do action",
                                          "type": "object",
                                          "properties": {
                                            "ContactType": {
                                              "description": "Contact type such Phone, Fax and email",
                                              "title": "ContactType",
                                              "type": "string",
                                              "enum": [
                                                "Email",
                                                "MobileApp",
                                                "Other",
                                                "Phone",
                                                "WebChatApp"
                                              ]
                                            },
                                            "ContactContent": {
                                              "description": "Collection of information that identifies a phone/ email/WebChat/ Mobile App or other communication channel, as defined by telecom services.",
                                              "title": "ContactContent",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 256
                                            },
                                            "ContactDescription": {
                                              "description": "Description of contact such as main phone number, alternate phone number and WebChat App name.",
                                              "title": "ContactDescription",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 70
                                            },
                                            "OtherContactType": {
                                              "description": "Other contact type which is not in the standard code list",
                                              "type": "object",
                                              "title": "OtherContactType",
                                              "properties": {
                                                "Code": {
                                                  "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                  "title": "Code",
                                                  "type": "string",
                                                  "pattern": "^\\w{0,4}$",
                                                  "minLength": 0,
                                                  "maxLength": 4
                                                },
                                                "Name": {
                                                  "description": "Long name associated with the code",
                                                  "title": "Name",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 70
                                                },
                                                "Description": {
                                                  "description": "Description to describe the purpose of the code",
                                                  "title": "Description",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 350
                                                }
                                              },
                                              "additionalProperties": false,
                                              "required": [
                                                "Name",
                                                "Description"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "ContactType",
                                            "ContactContent"
                                          ]
                                        },
                                        "additionalProperties": false
                                      },
                                      "ServiceMatterAvailabilityMethod": {
                                        "description": "Store info related to Matters(services) which an account holder can contact the bank and discuss about them",
                                        "type": "array",
                                        "title": "ServiceMatterAvailabilityMethod",
                                        "items": {
                                          "description": "Store info related to Matters(services) which an account holder can contact the bank and discuss about them",
                                          "type": "object",
                                          "properties": {
                                            "MatterMethodType": {
                                              "description": "Channel(methods) which can used to contact banks to discuss a matter(service)",
                                              "title": "MatterMethodType",
                                              "type": "string",
                                              "enum": [
                                                "InternetBanking",
                                                "MobileBanking",
                                                "Other",
                                                "Telephone"
                                              ]
                                            },
                                            "24HourAvailable": {
                                              "description": "Indicates whether this contact type  is available 24 hours.",
                                              "title": "24HourAvailable",
                                              "type": "string",
                                              "enum": [
                                                "InSomeCases",
                                                "NotPossible",
                                                "No",
                                                "Yes"
                                              ]
                                            },
                                            "ServiceLevelDescription": {
                                              "description": "Summary description for the availability of this service.",
                                              "title": "ServiceLevelDescription",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 2000
                                            },
                                            "Note": {
                                              "description": "Any info which supports the Contact Availability Method.",
                                              "title": "Note",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 2000
                                            },
                                            "OtherContactMethodType": {
                                              "description": "Other code set which is not available in the standard code set",
                                              "type": "array",
                                              "title": "OtherContactMethodType",
                                              "items": {
                                                "description": "Other code set which is not available in the standard code set",
                                                "type": "object",
                                                "properties": {
                                                  "Code": {
                                                    "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                    "title": "Code",
                                                    "type": "string",
                                                    "pattern": "^\\w{0,4}$",
                                                    "minLength": 0,
                                                    "maxLength": 4
                                                  },
                                                  "Name": {
                                                    "description": "Long name associated with the code",
                                                    "title": "Name",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 70
                                                  },
                                                  "Description": {
                                                    "description": "Description to describe the purpose of the code",
                                                    "title": "Description",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 350
                                                  }
                                                },
                                                "required": [
                                                  "Name",
                                                  "Description"
                                                ]
                                              },
                                              "additionalProperties": false
                                            },
                                            "Day": {
                                              "description": "Days on which a service is available for either discussion or action",
                                              "type": "array",
                                              "title": "Day",
                                              "items": {
                                                "description": "Days on which a service is available for either discussion or action",
                                                "type": "object",
                                                "properties": {
                                                  "Name": {
                                                    "description": "Specifies the day of the week",
                                                    "title": "Name",
                                                    "type": "string",
                                                    "enum": [
                                                      "Friday",
                                                      "Monday",
                                                      "Saturday",
                                                      "Sunday",
                                                      "Thursday",
                                                      "Tuesday",
                                                      "Wednesday"
                                                    ]
                                                  },
                                                  "Notes": {
                                                    "description": "Specify any note that is related the particular opening day e.g. Closed half day on Monday",
                                                    "title": "Notes",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "AvailableHours": {
                                                    "description": "Availability details for a service",
                                                    "type": "array",
                                                    "title": "AvailableHours",
                                                    "items": {
                                                      "description": "Availability details for a service",
                                                      "type": "object",
                                                      "properties": {
                                                        "OpeningTime": {
                                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                          "title": "OpeningTime",
                                                          "type": "string",
                                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                        },
                                                        "ClosingTime": {
                                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                          "title": "ClosingTime",
                                                          "type": "string",
                                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                        }
                                                      },
                                                      "required": [
                                                        "OpeningTime",
                                                        "ClosingTime"
                                                      ]
                                                    },
                                                    "additionalProperties": false,
                                                    "minItems": 1
                                                  }
                                                },
                                                "required": [
                                                  "Name",
                                                  "AvailableHours"
                                                ]
                                              },
                                              "additionalProperties": false
                                            },
                                            "NonStandardAvailability": {
                                              "description": "Non-standard hours of availability for a service supported by an organisation",
                                              "type": "array",
                                              "title": "NonStandardAvailability",
                                              "items": {
                                                "description": "Non-standard hours of availability for a service supported by an organisation",
                                                "type": "object",
                                                "properties": {
                                                  "Name": {
                                                    "description": "Name provided for non-standard opening periods e.g. Christmas, shrimp season or annual maintenance",
                                                    "title": "Name",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 140
                                                  },
                                                  "StartDate": {
                                                    "description": "Start date of the non standard availability",
                                                    "title": "StartDate",
                                                    "type": "string",
                                                    "format": "date"
                                                  },
                                                  "EndDate": {
                                                    "description": "End date of the non standard availability",
                                                    "title": "EndDate",
                                                    "type": "string",
                                                    "format": "date"
                                                  },
                                                  "ServiceLevelDescription": {
                                                    "description": "Summary description for the availability of this service.",
                                                    "title": "ServiceLevelDescription",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "Notes": {
                                                    "description": "Notes related to the Non-standard hours e.g. During shrimp season, the branch has extended opening hours",
                                                    "title": "Notes",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "Day": {
                                                    "description": "Days on which a service is available for either discussion or action",
                                                    "type": "array",
                                                    "title": "Day",
                                                    "items": {
                                                      "description": "Days on which a service is available for either discussion or action",
                                                      "type": "object",
                                                      "properties": {
                                                        "Name": {
                                                          "description": "Specifies the day of the week",
                                                          "title": "Name",
                                                          "type": "string",
                                                          "enum": [
                                                            "Friday",
                                                            "Monday",
                                                            "Saturday",
                                                            "Sunday",
                                                            "Thursday",
                                                            "Tuesday",
                                                            "Wednesday"
                                                          ]
                                                        },
                                                        "Notes": {
                                                          "description": "Specify any note that is related the particular opening day e.g. Closed half day on Monday",
                                                          "title": "Notes",
                                                          "type": "string",
                                                          "minLength": 1,
                                                          "maxLength": 2000
                                                        },
                                                        "AvailableHours": {
                                                          "description": "Availability details for a service",
                                                          "type": "array",
                                                          "title": "AvailableHours",
                                                          "items": {
                                                            "description": "Availability details for a service",
                                                            "type": "object",
                                                            "properties": {
                                                              "OpeningTime": {
                                                                "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                                "title": "OpeningTime",
                                                                "type": "string",
                                                                "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                              },
                                                              "ClosingTime": {
                                                                "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                                "title": "ClosingTime",
                                                                "type": "string",
                                                                "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                              }
                                                            },
                                                            "required": [
                                                              "OpeningTime",
                                                              "ClosingTime"
                                                            ]
                                                          },
                                                          "additionalProperties": false,
                                                          "minItems": 1
                                                        }
                                                      },
                                                      "required": [
                                                        "Name",
                                                        "AvailableHours"
                                                      ]
                                                    },
                                                    "additionalProperties": false,
                                                    "minItems": 0,
                                                    "maxItems": 7
                                                  }
                                                },
                                                "required": [
                                                  "Name"
                                                ]
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "required": [
                                            "MatterMethodType"
                                          ]
                                        },
                                        "additionalProperties": false,
                                        "minItems": 1
                                      }
                                    },
                                    "required": [
                                      "MatterType",
                                      "ServiceMatterAvailabilityMethod"
                                    ]
                                  },
                                  "additionalProperties": false,
                                  "minItems": 1
                                }
                              },
                              "additionalProperties": false,
                              "required": [
                                "ServicesMatterAvailabilityDetails"
                              ]
                            },
                            "ServiceMatterContactDetails": {
                              "description": "This section holds info related to communication contacts which can be used by banks customer to avail the banks services.",
                              "type": "object",
                              "title": "ServiceMatterContactDetails",
                              "properties": {
                                "MatterAvailabilityMethod": {
                                  "description": "Channel(methods) which can used to contact banks to discuss a matter(service)",
                                  "type": "array",
                                  "title": "MatterAvailabilityMethod",
                                  "items": {
                                    "description": "Channel(methods) which can used to contact banks to discuss a matter(service)",
                                    "type": "object",
                                    "properties": {
                                      "MatterMethodType": {
                                        "description": "Channel(methods) which can used to contact banks to discuss a matter(service)",
                                        "title": "MatterMethodType",
                                        "type": "string",
                                        "enum": [
                                          "InternetBanking",
                                          "MobileBanking",
                                          "Other",
                                          "Telephone"
                                        ]
                                      },
                                      "OtherContactMethodType": {
                                        "description": "Other code set which is not available in the standard ContactAvailabilityMethodType code set.",
                                        "type": "object",
                                        "title": "OtherContactMethodType",
                                        "properties": {
                                          "Code": {
                                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                                            "title": "Code",
                                            "type": "string",
                                            "pattern": "^\\w{0,4}$",
                                            "minLength": 0,
                                            "maxLength": 4
                                          },
                                          "Name": {
                                            "description": "Long name associated with the code",
                                            "title": "Name",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 70
                                          },
                                          "Description": {
                                            "description": "Description to describe the purpose of the code",
                                            "title": "Description",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 350
                                          }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                          "Name",
                                          "Description"
                                        ]
                                      },
                                      "ContactTypeDetails": {
                                        "description": "Describes the communication channel detail which can be used by an account holder to either discuss a matter or do action",
                                        "type": "array",
                                        "title": "ContactTypeDetails",
                                        "items": {
                                          "description": "Describes the communication channel detail which can be used by an account holder to either discuss a matter or do action",
                                          "type": "object",
                                          "properties": {
                                            "ContactType": {
                                              "description": "Contact type such Phone, Fax and email",
                                              "title": "ContactType",
                                              "type": "string",
                                              "enum": [
                                                "Email",
                                                "MobileApp",
                                                "Other",
                                                "Phone",
                                                "WebChatApp"
                                              ]
                                            },
                                            "ContactContent": {
                                              "description": "Collection of information that identifies a phone/ email/WebChat/ Mobile App or other communication channel, as defined by telecom services.",
                                              "title": "ContactContent",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 256
                                            },
                                            "ContactDescription": {
                                              "description": "Description of contact such as main phone number, alternate phone number and WebChat App name.",
                                              "title": "ContactDescription",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 70
                                            },
                                            "OtherContactType": {
                                              "description": "Other contact type which is not in the standard code list",
                                              "type": "object",
                                              "title": "OtherContactType",
                                              "properties": {
                                                "Code": {
                                                  "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                  "title": "Code",
                                                  "type": "string",
                                                  "pattern": "^\\w{0,4}$",
                                                  "minLength": 0,
                                                  "maxLength": 4
                                                },
                                                "Name": {
                                                  "description": "Long name associated with the code",
                                                  "title": "Name",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 70
                                                },
                                                "Description": {
                                                  "description": "Description to describe the purpose of the code",
                                                  "title": "Description",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 350
                                                }
                                              },
                                              "additionalProperties": false,
                                              "required": [
                                                "Name",
                                                "Description"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "ContactType",
                                            "ContactContent"
                                          ]
                                        },
                                        "additionalProperties": false,
                                        "minItems": 1
                                      }
                                    },
                                    "required": [
                                      "MatterMethodType",
                                      "ContactTypeDetails"
                                    ]
                                  },
                                  "additionalProperties": false,
                                  "minItems": 1
                                }
                              },
                              "additionalProperties": false,
                              "required": [
                                "MatterAvailabilityMethod"
                              ]
                            },
                            "ServicesActionAvailability": {
                              "description": "This section hold info related to Services which can be actioned by an account holder",
                              "type": "object",
                              "title": "ServicesActionAvailability",
                              "properties": {
                                "ServicesActionAvailabilityDetails": {
                                  "description": "How and when , an account holder can do action on a particular service e.g. Checking  account balance.",
                                  "type": "array",
                                  "title": "ServicesActionAvailabilityDetails",
                                  "items": {
                                    "description": "How and when , an account holder can do action on a particular service e.g. Checking  account balance.",
                                    "type": "object",
                                    "properties": {
                                      "ActionType": {
                                        "description": "Services which can be actioned by account holder",
                                        "title": "ActionType",
                                        "type": "string",
                                        "enum": [
                                          "AccessingTransHistory",
                                          "CheckingBalance",
                                          "CancellingCheque",
                                          "SendingMoneyOutsideUK",
                                          "Other",
                                          "PayingInCheque",
                                          "SendingMoneyWithinUK",
                                          "SettingStandingOrder"
                                        ]
                                      },
                                      "24HourAvailable": {
                                        "description": "Indicates whether this Service is available to be actioned 24hours",
                                        "title": "24HourAvailable",
                                        "type": "string",
                                        "enum": [
                                          "InSomeCases",
                                          "NotPossible",
                                          "No",
                                          "Yes"
                                        ]
                                      },
                                      "OtherActionType": {
                                        "description": "Other code set which is not available in the standard ActionAvailabilityCode set",
                                        "type": "array",
                                        "title": "OtherActionType",
                                        "items": {
                                          "description": "Other code set which is not available in the standard ActionAvailabilityCode set",
                                          "type": "object",
                                          "properties": {
                                            "Code": {
                                              "description": "The four letter Mnemonic used within an XML file to identify a code",
                                              "title": "Code",
                                              "type": "string",
                                              "pattern": "^\\w{0,4}$",
                                              "minLength": 0,
                                              "maxLength": 4
                                            },
                                            "Name": {
                                              "description": "Long name associated with the code",
                                              "title": "Name",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 70
                                            },
                                            "Description": {
                                              "description": "Description to describe the purpose of the code",
                                              "title": "Description",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 350
                                            }
                                          },
                                          "required": [
                                            "Name",
                                            "Description"
                                          ]
                                        },
                                        "additionalProperties": false
                                      },
                                      "ExecutionChannelDetails": {
                                        "description": "Communication device number or electronic address used for execution an action(service) within the banking domain",
                                        "type": "array",
                                        "title": "ExecutionChannelDetails",
                                        "items": {
                                          "description": "Communication device number or electronic address used for execution an action(service) within the banking domain",
                                          "type": "object",
                                          "properties": {
                                            "ExecutionChannelType": {
                                              "description": "Channel type such Phone, Fax and email which can be used to do Action ",
                                              "title": "ExecutionChannelType",
                                              "type": "string",
                                              "enum": [
                                                "Email",
                                                "MobileApp",
                                                "Other",
                                                "Phone",
                                                "WebChatApp"
                                              ]
                                            },
                                            "ChannelContent": {
                                              "description": "Collection of information that identifies a phone/Fax number/ email/WebChat or other communication channel, as defined by telecom services.",
                                              "title": "ChannelContent",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 256
                                            },
                                            "ChannelDescription": {
                                              "description": "Description of channel such as main phone number, alternate phone number, Telephone banking number, Internet Banking website and Mobile App name.",
                                              "title": "ChannelDescription",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 70
                                            },
                                            "OtherChannelType": {
                                              "description": "Other channel type which is not in the standard code list",
                                              "type": "object",
                                              "title": "OtherChannelType",
                                              "properties": {
                                                "Code": {
                                                  "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                  "title": "Code",
                                                  "type": "string",
                                                  "pattern": "^\\w{0,4}$",
                                                  "minLength": 0,
                                                  "maxLength": 4
                                                },
                                                "Name": {
                                                  "description": "Long name associated with the code",
                                                  "title": "Name",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 70
                                                },
                                                "Description": {
                                                  "description": "Description to describe the purpose of the code",
                                                  "title": "Description",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 350
                                                }
                                              },
                                              "additionalProperties": false,
                                              "required": [
                                                "Name",
                                                "Description"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "ExecutionChannelType",
                                            "ChannelContent"
                                          ]
                                        },
                                        "additionalProperties": false
                                      },
                                      "ServiceActionAvailabilityMethod": {
                                        "description": "Methods through which this service can be actioned by account holder",
                                        "type": "array",
                                        "title": "ServiceActionAvailabilityMethod",
                                        "items": {
                                          "description": "Methods through which this service can be actioned by account holder",
                                          "type": "object",
                                          "properties": {
                                            "ActionMethodType": {
                                              "description": "Method through a service can be actioned by account holder.",
                                              "title": "ActionMethodType",
                                              "type": "string",
                                              "enum": [
                                                "TelephoneBanking",
                                                "InternetBanking",
                                                "MobileBanking",
                                                "Other"
                                              ]
                                            },
                                            "ServiceLevelDescription": {
                                              "description": "Describe the availability of this service like 24*7*365",
                                              "title": "ServiceLevelDescription",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 2000
                                            },
                                            "Note": {
                                              "description": "Any info which supports action availability method for a service",
                                              "title": "Note",
                                              "type": "string",
                                              "minLength": 1,
                                              "maxLength": 2000
                                            },
                                            "OtherActionMethodType": {
                                              "description": "Other code set which is not available in the standard ActionMethodTypeCode set.",
                                              "type": "object",
                                              "title": "OtherActionMethodType",
                                              "properties": {
                                                "Code": {
                                                  "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                  "title": "Code",
                                                  "type": "string",
                                                  "pattern": "^\\w{0,4}$",
                                                  "minLength": 0,
                                                  "maxLength": 4
                                                },
                                                "Name": {
                                                  "description": "Long name associated with the code",
                                                  "title": "Name",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 70
                                                },
                                                "Description": {
                                                  "description": "Description to describe the purpose of the code",
                                                  "title": "Description",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 350
                                                }
                                              },
                                              "additionalProperties": false,
                                              "required": [
                                                "Name",
                                                "Description"
                                              ]
                                            },
                                            "Day": {
                                              "description": "Days on which a service is available for either discussion or action",
                                              "type": "array",
                                              "title": "Day",
                                              "items": {
                                                "description": "Days on which a service is available for either discussion or action",
                                                "type": "object",
                                                "properties": {
                                                  "Name": {
                                                    "description": "Specifies the day of the week",
                                                    "title": "Name",
                                                    "type": "string",
                                                    "enum": [
                                                      "Friday",
                                                      "Monday",
                                                      "Saturday",
                                                      "Sunday",
                                                      "Thursday",
                                                      "Tuesday",
                                                      "Wednesday"
                                                    ]
                                                  },
                                                  "Notes": {
                                                    "description": "Specify any note that is related the particular opening day e.g. Closed half day on Monday",
                                                    "title": "Notes",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "AvailableHours": {
                                                    "description": "Availability details for a service",
                                                    "type": "array",
                                                    "title": "AvailableHours",
                                                    "items": {
                                                      "description": "Availability details for a service",
                                                      "type": "object",
                                                      "properties": {
                                                        "OpeningTime": {
                                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                          "title": "OpeningTime",
                                                          "type": "string",
                                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                        },
                                                        "ClosingTime": {
                                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                          "title": "ClosingTime",
                                                          "type": "string",
                                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                        }
                                                      },
                                                      "required": [
                                                        "OpeningTime",
                                                        "ClosingTime"
                                                      ]
                                                    },
                                                    "additionalProperties": false,
                                                    "minItems": 1
                                                  }
                                                },
                                                "required": [
                                                  "Name",
                                                  "AvailableHours"
                                                ]
                                              },
                                              "additionalProperties": false
                                            },
                                            "NonStandardAvailability": {
                                              "description": "Non-standard hours of availability for a service supported by an organisation",
                                              "type": "array",
                                              "title": "NonStandardAvailability",
                                              "items": {
                                                "description": "Non-standard hours of availability for a service supported by an organisation",
                                                "type": "object",
                                                "properties": {
                                                  "Name": {
                                                    "description": "Name provided for non-standard opening periods e.g. Christmas, shrimp season or annual maintenance",
                                                    "title": "Name",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 140
                                                  },
                                                  "StartDate": {
                                                    "description": "Start date of the non standard availability",
                                                    "title": "StartDate",
                                                    "type": "string",
                                                    "format": "date"
                                                  },
                                                  "EndDate": {
                                                    "description": "End date of the non standard availability",
                                                    "title": "EndDate",
                                                    "type": "string",
                                                    "format": "date"
                                                  },
                                                  "ServiceLevelDescription": {
                                                    "description": "Summary description for the availability of this service.",
                                                    "title": "ServiceLevelDescription",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "Notes": {
                                                    "description": "Notes related to the Non-standard hours e.g. During shrimp season, the branch has extended opening hours",
                                                    "title": "Notes",
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 2000
                                                  },
                                                  "Day": {
                                                    "description": "Days on which a service is available for either discussion or action",
                                                    "type": "array",
                                                    "title": "Day",
                                                    "items": {
                                                      "description": "Days on which a service is available for either discussion or action",
                                                      "type": "object",
                                                      "properties": {
                                                        "Name": {
                                                          "description": "Specifies the day of the week",
                                                          "title": "Name",
                                                          "type": "string",
                                                          "enum": [
                                                            "Friday",
                                                            "Monday",
                                                            "Saturday",
                                                            "Sunday",
                                                            "Thursday",
                                                            "Tuesday",
                                                            "Wednesday"
                                                          ]
                                                        },
                                                        "Notes": {
                                                          "description": "Specify any note that is related the particular opening day e.g. Closed half day on Monday",
                                                          "title": "Notes",
                                                          "type": "string",
                                                          "minLength": 1,
                                                          "maxLength": 2000
                                                        },
                                                        "AvailableHours": {
                                                          "description": "Availability details for a service",
                                                          "type": "array",
                                                          "title": "AvailableHours",
                                                          "items": {
                                                            "description": "Availability details for a service",
                                                            "type": "object",
                                                            "properties": {
                                                              "OpeningTime": {
                                                                "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                                "title": "OpeningTime",
                                                                "type": "string",
                                                                "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                              },
                                                              "ClosingTime": {
                                                                "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                                                "title": "ClosingTime",
                                                                "type": "string",
                                                                "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                                              }
                                                            },
                                                            "required": [
                                                              "OpeningTime",
                                                              "ClosingTime"
                                                            ]
                                                          },
                                                          "additionalProperties": false,
                                                          "minItems": 1
                                                        }
                                                      },
                                                      "required": [
                                                        "Name",
                                                        "AvailableHours"
                                                      ]
                                                    },
                                                    "additionalProperties": false,
                                                    "minItems": 0,
                                                    "maxItems": 7
                                                  }
                                                },
                                                "required": [
                                                  "Name"
                                                ]
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "required": [
                                            "ActionMethodType"
                                          ]
                                        },
                                        "additionalProperties": false,
                                        "minItems": 1
                                      }
                                    },
                                    "required": [
                                      "ActionType",
                                      "ServiceActionAvailabilityMethod"
                                    ]
                                  },
                                  "additionalProperties": false,
                                  "minItems": 1
                                }
                              },
                              "additionalProperties": false,
                              "required": [
                                "ServicesActionAvailabilityDetails"
                              ]
                            },
                            "OperationalSecurityIncidentMetrics": {
                              "description": "This section holds info related to operational and security metrics.",
                              "type": "object",
                              "title": "OperationalSecurityIncidentMetrics",
                              "properties": {
                                "OperationalSecurityIncidentMetricsDetails": {
                                  "description": "Hold info related to Operation and Security Incident Metrics details",
                                  "type": "array",
                                  "title": "OperationalSecurityIncidentMetricsDetails",
                                  "items": {
                                    "description": "Hold info related to Operation and Security Incident Metrics details",
                                    "type": "object",
                                    "properties": {
                                      "IncidentMetricsType": {
                                        "description": "Incident metrics type",
                                        "title": "IncidentMetricsType",
                                        "type": "string",
                                        "enum": [
                                          "IncidentsAffectingInternetBanking",
                                          "IncidentsAffectingMobBanking",
                                          "Other",
                                          "IncidentsAffectingTelBanking",
                                          "TotalNumberIncidentReported"
                                        ]
                                      },
                                      "Note": {
                                        "description": "Any info which banks wants provide with the support of Operation Security Incident",
                                        "title": "Note",
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 2000
                                      },
                                      "OtherIncidentMetricsType": {
                                        "description": "Other code set which is not available in the standard code set.",
                                        "type": "object",
                                        "title": "OtherIncidentMetricsType",
                                        "properties": {
                                          "Code": {
                                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                                            "title": "Code",
                                            "type": "string",
                                            "pattern": "^\\w{0,4}$",
                                            "minLength": 0,
                                            "maxLength": 4
                                          },
                                          "Name": {
                                            "description": "Long name associated with the code",
                                            "title": "Name",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 70
                                          },
                                          "Description": {
                                            "description": "Description to describe the purpose of the code",
                                            "title": "Description",
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 350
                                          }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                          "Name",
                                          "Description"
                                        ]
                                      },
                                      "IncidentDetails": {
                                        "description": "Operational and security incident metrics details",
                                        "type": "array",
                                        "title": "IncidentDetails",
                                        "items": {
                                          "description": "Operational and security incident metrics details",
                                          "type": "object",
                                          "properties": {
                                            "IncidentReportingType": {
                                              "description": "Operational and security incident reporting period type",
                                              "title": "IncidentReportingType",
                                              "type": "string",
                                              "enum": [
                                                "Other",
                                                "Quarterly",
                                                "Yearly"
                                              ]
                                            },
                                            "FromDate": {
                                              "description": "Operational and Security incident measurement period start date",
                                              "title": "FromDate",
                                              "type": "string",
                                              "format": "date"
                                            },
                                            "ToDate": {
                                              "description": "Operational and Security incident measurement period end date",
                                              "title": "ToDate",
                                              "type": "string",
                                              "format": "date"
                                            },
                                            "IncidentCount": {
                                              "description": "Number of times this incident happened in the measurement period",
                                              "title": "IncidentCount",
                                              "type": "integer",
                                              "format": "int32"
                                            },
                                            "OtherIncidentReportingType": {
                                              "description": "Other code set which is not available in the standard code set.",
                                              "type": "object",
                                              "title": "OtherIncidentReportingType",
                                              "properties": {
                                                "Code": {
                                                  "description": "The four letter Mnemonic used within an XML file to identify a code",
                                                  "title": "Code",
                                                  "type": "string",
                                                  "pattern": "^\\w{0,4}$",
                                                  "minLength": 0,
                                                  "maxLength": 4
                                                },
                                                "Name": {
                                                  "description": "Long name associated with the code",
                                                  "title": "Name",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 70
                                                },
                                                "Description": {
                                                  "description": "Description to describe the purpose of the code",
                                                  "title": "Description",
                                                  "type": "string",
                                                  "minLength": 1,
                                                  "maxLength": 350
                                                }
                                              },
                                              "additionalProperties": false,
                                              "required": [
                                                "Name",
                                                "Description"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "IncidentReportingType",
                                            "FromDate",
                                            "ToDate",
                                            "IncidentCount"
                                          ]
                                        },
                                        "additionalProperties": false,
                                        "minItems": 1
                                      }
                                    },
                                    "required": [
                                      "IncidentMetricsType",
                                      "IncidentDetails"
                                    ]
                                  },
                                  "additionalProperties": false,
                                  "minItems": 1
                                }
                              },
                              "additionalProperties": false,
                              "required": [
                                "OperationalSecurityIncidentMetricsDetails"
                              ]
                            },
                            "ComplaintsData": {
                              "description": "This section holds info related to complaints data.",
                              "type": "object",
                              "title": "ComplaintsData",
                              "properties": {
                                "CompliantsDataDetails": {
                                  "description": "Section describing complaints data related to a bank brand",
                                  "type": "object",
                                  "title": "CompliantsDataDetails",
                                  "properties": {
                                    "CompliantsDataAvailable": {
                                      "description": "Bank specific complaints data available or not.",
                                      "title": "CompliantsDataAvailable",
                                      "type": "string",
                                      "enum": [
                                        "InSomeCases",
                                        "NotPossible",
                                        "No",
                                        "Yes"
                                      ]
                                    },
                                    "CompliantsInfoURL": {
                                      "description": "Banks specific URL for complaints reporting",
                                      "title": "CompliantsInfoURL",
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 500
                                    },
                                    "OmbudsmanURL": {
                                      "description": "Ombudsman URL detailing complaints related to all banks.",
                                      "title": "OmbudsmanURL",
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 500
                                    },
                                    "Notes": {
                                      "description": "Notes related to the Non-standard hours e.g. During shrimp season, the branch has extended opening hours",
                                      "title": "Notes",
                                      "type": "string",
                                      "minLength": 1,
                                      "maxLength": 2000
                                    }
                                  },
                                  "additionalProperties": false,
                                  "required": [
                                    "CompliantsDataAvailable"
                                  ]
                                }
                              },
                              "additionalProperties": false,
                              "required": [
                                "CompliantsDataDetails"
                              ]
                            },
                            "AccountOpeningTimeLineDetails": {
                              "description": "A generic structure for storing info related to account opening and related services/features time line. One such example is \"How quickly do we give customers a debit card?\"",
                              "type": "object",
                              "title": "AccountOpeningTimeLineDetails",
                              "properties": {
                                "AccountOpeningURL": {
                                  "description": "URL of the bank which details the requirement to open a current account",
                                  "title": "AccountOpeningURL",
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500
                                },
                                "AccountOpeningDocumentationURL": {
                                  "description": "URL of the bank which details the documentation requirement to open a current account",
                                  "title": "AccountOpeningDocumentationURL",
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500
                                },
                                "Note": {
                                  "description": "Any info which bank would like to share in support of Account Opening time line",
                                  "title": "Note",
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 2000
                                },
                                "AccountOpeningTimelineParameters": {
                                  "description": "Metrics related to account opening such as \"How quickly do we open [personal/business] current accounts?\"",
                                  "type": "array",
                                  "title": "AccountOpeningTimelineParameters",
                                  "items": {
                                    "description": "Metrics related to account opening such as \"How quickly do we open [personal/business] current accounts?\"",
                                    "type": "object",
                                    "properties": {
                                      "OpeningAccountTimelineType": {
[...]
